.fc-toolbar-chunk {
    margin: 10px 10px 0px 10px;
    @media screen and (max-width: 450px) {
        margin: 5px 5px 0px 5px;
        font-size: 12px;
    }
}

.fc-col-header-cell-cushion {
    color: #000;
    text-decoration: none;
    @media screen and (max-width: 550px) {
        font-size: 12px;
    }
}
.fc-col-header-cell-cushion:hover {
    color:#000;
}
.fc-daygrid-day-number {
    color: #000;
    text-decoration: none;
    @media screen and (max-width: 550px) {
        font-size: 12px;
        font-weight: 900;
    }
}
.fc-daygrid-day-number:hover {
    color: #000;
}

.fc-event-title-container {
    text-align: center;
}

.fc-event-title {
    white-space: pre-line;
    font-size: 15px;
    font-weight: 900;
    @media screen and (max-width: 800px) {
        font-size: 12px;
        font-weight: 900;
    }
}