.fc-col-header-cell-cushion {
    color: #000;
    text-decoration: none;
    @media screen and (max-width: 550px) {
        font-size: 12px;
    }
}
.fc-col-header-cell-cushion:hover {
    color:#000;
}
.fc-daygrid-day-number {
    color: #000;
    text-decoration: none;
    @media screen and (max-width: 550px) {
        font-size: 12px;
        font-weight: 900;
    }
}
.fc-daygrid-day-number:hover {
    color: #000;
}

.fc-event {
    border: none;
}

.fc-event-title {
    font-size:15px;
    font-weight: 900;
    @media screen and (max-width: 550px) {
        font-size: 12px;
        font-weight: 900;
    }
}